@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav-item">
        <form method="post" asp-controller="account" asp-action="logout">
            <button type="submit" style="width:auto" class="nav-link btn btn-link py-0">Logout @User.Identity.Name</button>
        </form>
    </ul>
}
else
{
    <ul class="nav-item">
        <form method="post" asp-controller="Account" asp-action="Register">
            <button type="submit" style="width:auto" class="nav-link btn btn-link py-0">Registrar</button>
        </form>
    </ul>
    <ul class="nav-item">
        <form method="post" asp-controller="account" asp-action="login">
            <button type="submit" style="width:auto" class="nav-link btn btn-link py-0">Login</button>
        </form>
    </ul>
}